@using System;
@using System.Collections.Generic;
@using System.Linq;
@using NuGet.Services.Dashboard.Common;
@model List<ElmahError>

<table class="hovered">
    <tbody>
        <tr>
            <th>
                Error
            </th>
            <th>
                Occurences
            </th>
            <th>
                Last Reported
            </th>
            <th>
                Severity
            </th>

        </tr>
        @foreach (ElmahError row in @Model)
        {
            <tr>
                <td>
                    <a href="@row.Link" target="_blank">@row.Error</a>
                </td>
                <td>
                    @row.Occurecnes.ToString()
                </td>
                <td>
                    @row.LastReported.ToString()
                </td>
                <td>
                    @if (@row.Severity == 0)
                    {
                        <span class="square bg-color-orange"></span>
                    }
                    else
                    {
                        <span class="square bg-color-green"></span>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
