@using System;
@using System.Collections.Generic;
@using System.Linq;
@using NuGet.Services.Dashboard.Common;
@model List<DatabaseRequest>
<table class="hovered">
    <tbody>
        <tr>
            <th>
                Sql
            </th>
            <th>
                StartTime
            </th>
            <th>
                Status
            </th>
            <th>
                Command
            </th>
            <th>
                Wait type
            </th>
            <th>
                Wait time
            </th>

        </tr>
        @foreach (DatabaseRequest dbEvent in @Model)
        {
            <tr>
                <td>
                    @dbEvent.text
                </td>
                <td>
                    @dbEvent.start_time
                </td>
                <td>
                    @dbEvent.Status
                </td>
                <td>
                    @dbEvent.Command
                </td>
                <td>
                    @dbEvent.Wait_Type
                </td>
                <td>
                   @dbEvent.wait_time
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />

