@model string

@if (Model.Equals("Prod"))
{
    @*<div class="grid grid-pad">
            <div class="col-1-2">
                <div class="content">
                    <h2 style="font-family: 'Trebuchet MS'"><em>LiveSite Monitoring</em></h2>
                    <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Refreshed every 3 minutes</small> </p>
                </div>
            </div>
            <div class="col-1-2">
                <div class="content">
                    <h2 style="font-family: 'Trebuchet MS'"><em>Trends & Team stats</em></h2>
                    <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Refreshed every 60 minutes</small> </p>
                </div>
            </div>
        </div>*@

    <div style="position:absolute; top: 4em; right: 2em;">
        <span class="square bg-color-green"></span><p style="font-family: arial; color: gray; font-size: 23px; font-style: italic"><small>* tiles shows hourly values</small> </p>
        <span class="square bg-color-blue"></span><p style="font-family: arial; color: gray; font-size: 23px; font-style: italic"><small>* tiles shows daily values</small> </p>
    </div>
    <div class="grid grid-pad">
        <div class="col-1-3">
            <div class="content">
                @Html.Action("Index", "UpTime")
            </div>
        </div>

        <div class="col-1-3">
            <div class="content">
                @Html.Action("Index", "SLA")
                @Html.Action("Index", "ResourceMonitoring")
            </div>
        </div>

        <div class="col-1-3">
            <div class="content">

                <div class="tile bg-color-red" title="New user registrations per hour">
                    <div class="tile-content" onclick="ShowDetails('Details','Trending');">
                        <h2>New Users</h2>
                        <br />
                        <div id="CurrentUsers"></div>
                    </div>

                    @*<div class="brand">
                            <div id="CurrentUsers" class="badge"></div>
                        </div>*@
                </div>
                <div class="tile bg-color-red" data-role="tile-slider" data-param-period="10000" onclick="ShowDetails('Details','Trending');" title="New packages uploaded per hour">
                    <div class="tile-content">
                        <h2>New Packages</h2>
                        <br />
                        <div id="CurrentPackages"></div>
                        @*<div class="brand">
                                <div id="CurrentPackages" class="badge"></div>
                            </div>*@
                    </div>
                </div>

            </div>
        </div>

    </div>
}
<div class="nav-bar bg-color-darken">
    <div class="nav-bar-inner">

        <span class="element">AppServer Tier<small> Hourly trending</small></span>
    </div>
</div>
<div class="grid grid-pad">
    <div class="col-1-3">
        <div class="content">
            <div id="RequestsPerHourDiv" title="Requests per minute">
                @Html.Action("Throughput", "SLA");
                <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Threshold set to 100 K and above</small></p>

            </div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="content">
            <div id="ErrorsPerHourDiv" title="Server Errors per hour">
                @Html.Action("ErrorRate", "SLA");
                <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Threshold set based on invidual errors</small></p>
            </div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="content">
            <div id="PackageRestoreResponseTimeDiv" title="Package Restore response time">
                @Html.Action("ResponseTimeOverview", "UpTime");
                <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Response time for pingdom checks in milli secs.</small></p>
            </div>
        </div>
    </div>
</div>


<div class="nav-bar bg-color-darken">
    <div class="nav-bar-inner">
        <span class="element">Database Tier <small>Hourly trending</small></span>
    </div>
</div>
<div class="grid grid-pad">
    <div class="col-1-3">
        <div class="content">
            <div id="DRRequestsDiv" title="SQL Azure DB Requests">
                @Html.Action("DBRequests", "ResourceMonitoring");
                <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Threshold set to 50 or above</small></p>
            </div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="content">
            <div id="DBConnectionsDiv" title="SQL Azure DB connections">
                @Html.Action("DBConnections", "ResourceMonitoring");
                <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Threshold set to 100 and above</small></p>
            </div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="content">
            <div id="DBCPUTimeDiv" title="SQL Azure DB CPU Time">
                @*@Html.Action("DBCPUTime", "ResourceMonitoring");
                <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Shows DB usage per hour in seconds. No threshold set.</small></p>*@
                @Html.Action("Index", "WorkJob");
                    <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Status of recent job instances.</small></p>
            </div>
        </div>
    </div>
</div>


