@{
    @ViewBag.work
    @ViewBag.admin
    @ViewBag.key
}
@using NuGet.Services.Dashboard.Common;


<p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*for view the fault log, username is @ViewBag.admin</small></p> 
<p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*for view the fault log, key is @ViewBag.key</small></p>
<style>
    th, td {
        padding: 10px;
    }
</style>
<div style="width:1500px;" class="fg-color-darken" id="workdetail">
                <table class="hovered" width="1000">
                    <tbody>
                        <tr>
                            <th>
                                Job name
                            </th>
                            <th>
                                Job frequency
                            </th>
                            <th>
                                Last invocation status
                            </th>
                            <th>
                                Last invocation time
                            </th>
                            <th>
                                Average run time for each invocation
                            </th>
                            <th>
                                No of invocation in the last 24 hours
                            </th>
                            <th>
                                No of Failures
                            </th>
                            <th>
                                Failure rate
                            </th>
                            <th>
                                Failures detail
                            </th>

                        </tr>
                        @foreach (WorkInstanceDetail job in @ViewBag.work)
                        {
                            <tr>
                                <td>
                                    @job.jobName
                                </td>
                                <td>
                                    @job.Frequency
                                </td>
                                <td>
                                    @if (job.Status.Equals("True")) 
                                    {
                                        <span class="square bg-color-green"></span> 
                                    }
                                    else
                                    {
                                       <span class="square bg-color-red"></span>
                                    }
    
                                </td>
                                <td>
                                    @job.LastTime
                                </td>
                                <td>
                                    @job.RunTime
                                </td>
                                <td>
                                    @job.InvocationNo
                                </td>
                                <td>
                                    @job.FaultedNo
                                </td>
                                <td>
                                    @if (@job.FaultRate > 30)
                                    {
                                        <span class="square bg-color-red"></span>
                                        @job.FaultRate
                                    }
                                    else if (@job.FaultRate > 10)
                                    {
                                         <span class="square bg-color-yellow"></span>
                                        @job.FaultRate
                                    }
                                    else
                                    {
                                         <span class="square bg-color-green"></span>
                                        @job.FaultRate
                                    }
                                </td>
                                <td width="70%">
                                    @if (@job.ErrorMessage.Count != 0) { 
                                        foreach (KeyValuePair<string, List<string>> Error in @job.ErrorMessage)
                                        {
                                            <br />
                                            <h4>@Error.Key</h4>
                                            foreach (string link in @Error.Value)
                                            {
                                                <a href="@link" target="_blank">@link</a>
                                                <br>
                                            }
                                        }
                                    } else {
                                        @("None")
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
  
