<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NuGet Dashboard</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
         @Styles.Render("~/Content/css")
         @Scripts.Render("~/bundles/jquery")  
         @Scripts.Render("~/bundles/metro")
         @* Schemeless URL was getting transformed to http *@
        <script src="//code.highcharts.com/highcharts.js"></script>
    </head>
    <body class="metrouicss">         
        <div class="page">
            <div class="nav-bar bg-color-darken">
                <div class="nav-bar-inner padding10">
                    <span class="pull-menu"></span>
                    <a href="/" id="logolink"><span class="element brand"><img class="place-left" src="~/images/nuget_32.png" style="height: 20px" />NuGet <small>Dashboard</small></span></a>
                    <div class="divider"></div>
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="@Url.Action("Pingdom_Details","Pingdom")">Pingdom</a></li>
                        <li><a href="@Url.Action("V2GalleryFrontEnd_Details", "V2GalleryFrontEnd")">V2GalleryFrontEnd</a></li>
                        <li><a href="@Url.Action("WorkJobs_Detail", "WorkJobs")">WorkJob</a></li>
                        <li><a href="@Url.Action("Database_Details", "Database")">DataBase</a></li>
                        <li><a href="@Url.Action("Trending_Details", "Trending")">Trends</a></li>
                        <li><a href="@Url.Action("TroubleShooting_Details", "TroubleShooting")">TroubleShoot</a></li>
                        <li><a href="@Url.Action("Threshold_Details", "Threshold")">Threshold</a></li>
                        <li><a href="@Url.Action("SearchService_Detail", "SearchService")">Search</a></li>
                        
                    </ul>
                </div>
            </div>
            
        </div>    
        @RenderBody()
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </body>
</html>
