@using NuGetDashboard.Models;
@model IEnumerable<ThresholdViewModel>


<div class="page secondary with-sidebar">
    <div class="page-header">
        <div class="page-header-content" id="headercontent">
            <h1 id="title">Threshold<small>Detail</small></h1>
            <a href="/" id="backbutton" class=" back-button big page-back"></a>
        </div>
    </div>
</div>
<button class=" default" onclick="location = '@Url.Action("Create", "Threshold")'">Create</button>
<div style="width:800px;" class="fg-color-darken" id="threshold">
    <table class="hovered">
        <tbody>
            <tr>
                <th>
                    Threshold name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Standard Value
                </th>
                <th>
                    Current Value
                </th>
            </tr>
            @foreach (ThresholdViewModel item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.standard
                    </td>
                    <td>
                        @if (item.current != item.standard) { 
                        <font color="red">@item.current</font>
                        }
                        else {
                            @item.current
                        }   
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
