<script src="~/Scripts/pagecontrol.js" type="text/javascript"></script>
<div class="page secondary with-sidebar">
    <div class="page-header">
        <div class="page-header-content" id="headercontent">
            <h1 id="title">V2GalleryFrontEnd<small>Detail</small></h1>
            <a href="/" id="backbutton" class=" back-button big page-back"></a>
        </div>
    </div>
</div>
<div class="page-control" data-role="page-control" style="height: 100%">   
    <span class="menu-pull"></span>
    <div class="menu-pull-bar"></div>    
    <ul>
        
        <li class="active"><a href="#RequestsToday">Request Categorization Weekly trend</a></li>
        <li ><a href="#RequestsThisWeek">Over all Requests Weekly Trend</a></li>
        <li><a href="#Errors">Errors Weekly Trend</a></li>
        <li><a href="#LatencyReport">E2E Latency Report</a></li>
        <li><a href="#LatencyToday">E2E Latency Trends</a></li>
        <li><a href="#CpuUsageTotay">Cpu Usage Totay</a></li>
      
    </ul>    
    <div class="frames">
        <div class="frame active" id="RequestsToday">@Html.Action("RequestsToday", "V2GalleryFrontEnd");</div>
        <div class="frame" id="RequestsThisWeek">@Html.Action("RequestsThisWeek", "V2GalleryFrontEnd");</div>
        <div class="frame" id="Errors">@Html.Action("ErrorsThisWeek", "V2GalleryFrontEnd");</div>
        <div class="frame" id="LatencyReport">@Html.Action("LatencyReport", "V2GalleryFrontEnd");</div>
        <div class="frame" id="LatencyToday">@Html.Action("LatencyToday", "V2GalleryFrontEnd");</div>
        <div class="frame" id="CpuUsageTotay">@Html.Action("CpuUsage", "V2GalleryFrontEnd");</div>
    </div>

</div>


