@using System;
@using System.Collections.Generic;
@using System.Linq;
@using NuGet.Services.Dashboard.Common;
@model List<Tuple<string, long, long, long>>
@{
    @ViewBag.catalog
    @ViewBag.resolver
}

<div class="fg-color-darken" style="width:600px">
    <h2>Catalog Lag</h2><h3> Lag between Gallery DB and Catalog (in number of packages) </h3><p>@ViewBag.catalog </p> <br /> 
    <h2>Resolver Blobs Lag</h2><h3> Lag between Catalog and Resolver Blobs (In minutes) </h3> <p>@ViewBag.resolver</p> <br/>
</div>
    <div class="fg-color-darken" style="width:600px">
        <h2>Today's hourly Average</h2>
        <p>Below table shows the average time elapsed trend for package upload for today (from 00.00 AM PST)</p>
        <table class="hovered">
            <tbody>
                <tr>
                    <th>
                        Scenario
                    </th>
                    <th>
                        Average time taken in Milli seconds
                    </th>
                    <th>
                        Highest time taken in Milli seconds
                    </th>
                    <th>
                        Lowest time taken in Milli seconds
                    </th>
                </tr>
                @foreach (Tuple<string, long, long, long> scenario in @Model)
                {
                    <tr>
                        <td>
                            @scenario.Item1
                        </td>
                        <td>
                            @scenario.Item2
                        </td>
                        <td>
                            @scenario.Item3
                        </td>
                        <td>
                            @scenario.Item4
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>


    <h2>Weekly drill down of latency</h2>
    <div id="timetrend">@Html.Action("AverageLatencyTrendThisWeek", "V2GalleryFrontEnd");</div>
